# Dépendances
node_modules/

# Build
dist/
build/

# Git
.git/
.gitignore
.github/


# Logs
*.log
logs/

# IDE
.vscode/
.idea/
.DS_Store

# Docker
Dockerfile*
.dockerignore
docker-compose*.yml

# Documentation
*.md
docs/

# Tests
coverage/
__tests__/
